#!/bin/bash
#PPalign configuration file

#Input/Output#
	INDIR=~/bin/poolparty-master/example/
	SAMPLELIST=samplelist-config.txt
	OUTDIR=~/bin/poolparty-master/example/test
	OUTPOP=phenoAB
	GENOME=~/bin/poolparty-master/example/PP_genome.fa
	SCAHEAD=Scaff

#Run Parameters#
	THREADZ=4
	KMEM=Xmx4g
	#read trimming/filtering
	BQUAL=20
	MINLENGTH=25
	#alignment filtering
	MAPQ=5
	#SNP filtering
	SNPQ=20
	MINDP=10
	MAF=0.05
	INWIN=15
	
#Run-types#
	SPLITDISC=off
	INDCONT=on
	QUALREPORT=on

#Optional Parameters#
	#quit after alignments: on/off
	ALIGNONLY=off
	#quit after stats.mpileup (used in PPstats): on/off
	STATSONLY=off
	#use vcf file instead of calling SNPs (scoring still occurs)
	#VCF file name or empty (any non-empty value here trips this switch)
	USEVCF=
	#confirm read pairing and population counts (interactively): on/off
	CONFIRM=off
	#normalize loci in groups of DIVIDE individuals (when memory is limited and/or variants are many); default=100
	DIVIDE=
	
#Dependency Locations#
	BCFTOOLS=bcftools
	FASTQC=fastqc
	BWA=bwa
	SAMBLASTER=samblaster
	SAMTOOLS=samtools
	PICARDTOOLS=~/miniconda3/envs/poolparty_env/share/picard-2.20.2-0/picard.jar
	BBMAPDIR=~/miniconda3/envs/poolparty_env/bin/
	POOL2=~/bin/popoolation2_1201/

#Languages needed on system#
	#bash/shell
	#perl
	#java
	#R


