#!/bin/bash
#PPalign configuration file

#Input/Output#
	#full path to where read files reside
	INDIR=
	#name only; must reside in INDIR; do not provide full path
	SAMPLELIST=
	#full path
	OUTDIR=
	#name only
	OUTPOP=
	#full path; index must be present also (as $GENOME.fai) 
	GENOME=
	#name only
	SCAHEAD=

#Run Parameters#
	##number of threads/processors
	THREADZ=
	##read trimming/filtering
	#PHRED-scaled minimum base quality for trimming
	BQUAL=
	##alignment filtering
	#minimum read mapping quality for retention
	MAPQ=
	#minimum read length for retention after base quality trimming
	MINLENGTH=
	#amount of memory for java programs; specify as XmxNg or XmxNm, e.g. Xmx4g
	KMEM=
	##SNP filtering
	#PHRED-scaled minimum SNP quality for VCF filtering
	SNPQ=
	#minimum global read depth for SNP retention in VCF filtering
	MINDP=
	#minimum global minor allele frequency for SNP retention in VCF filtering
	MAF=
	#filter SNPs within this distance to INDEL site
	INWIN=
	
#Run-types#
	#save split or discordant reads in separate BAM file
	SPLITDISC=off
	#create normalized frequency/sync files using barcoded individual read files
	INDCONT=off
	#create FASTQC quality reports of quality trimmed read files
	QUALREPORT=on

#Optional Parameters#
	#quit after alignments: on/off
	ALIGNONLY=off
	#quit after stats.mpileup (used in PPstats): on/off
	STATSONLY=off
	#use vcf file instead of calling SNPs (scoring still occurs)
	#VCF file name AND path, or empty (any non-empty value triggers this option)
	USEVCF=
	#confirm read pairing and population counts (interactively)
	CONFIRM=on
	#divide SNP calling into chunks for GNU parallel; on/off
	PARALLEL=off
	#normalize loci in groups of DIVIDE individuals (when memory is limited and/or variants are many); default=100
	DIVIDE=
	
#Dependency Locations#
	BCFTOOLS=
	FASTQC=
	BWA=
	SAMBLASTER=
	SAMTOOLS=
	PICARDTOOLS=
	BBMAPDIR=
	POOL2=

#Languages needed on system#
	#bash/shell
	#perl
	#java
	#R


