#!/bin/bash
#PPstats configuration file

#Specify Files#
#Full path when not in the working directory (same directory as the config file)
#genome index file
FAI=
#*_stats.mpileup
MPILEUP=
#directory for output files
OUTDIR=
#output file prefix
OUTFILE=
#name [and path] of file with population names/order, usually OUTDIR/pops/*_files_for_pops.txt
POPFILE=

#Parameters#
#prefix for scaffolds, not chromosomes; leave blank if no scaffolds; otherwise PPstats will throw an error
SCAFP=
#number of threads
THREADZ=
#minimum coverage, per populations
MINCOV=
#maximum coverage, per populations
MAXCOV=

#Languages needed on system#
	#bash/shell
	#R