#!/bin/bash
#PPanalyze configuration file

#Populations for analysis#
POPS=1:3,2

#Input files and names#
PREFIX=example2_analyze
COVFILE=poolparty_example2/filters/example2_coverage.txt
SYNC=poolparty_example2/example2_norm.sync
FZFILE=poolparty_example2/example2_norm.fz
BLACKLIST=poolparty_example2/filters/example2_normMAF_polyHALF_min3_blacklist.txt
OUTDIR=poolparty_example2/example2_analysis

#Types of Analyses#
FST=on
SLIDINGFST=on
FET=on
NJTREE=on

#Global Parameters#
MINCOV=10
MAXCOV=1000
MAF=0.05

#FST Parameters#
FSTTYPE=karlsson
WINDOW=5000
STEP=500
NIND=150

#NJ Tree Parameters
STRWINDOW=10000
BSTRAP=2000
AFFILT=0.9
METHOD="mean"

#Dependencies#
POOL2=~/bin/popoolation2_1201

#Languages needed on system#
	#bash/shell
	#perl
	#R
