#!/bin/bash
#PPalign configuration file

#Input/Output#
	INDIR=samples
	SAMPLELIST=example2_samples_150.txt
	OUTDIR=poolparty_example2
	OUTPOP=example2
	GENOME=Omy_USDA1.1_Omy05.25.28.fasta
	SCAHEAD=

#Run Parameters#
	THREADZ=4
	BQUAL=20
	MAPQ=20
	SNPQ=20
	MINLENGTH=50
	INWIN=3
	MAF=0.005
	KMEM=Xmx16g
	MINDP=5

#Run-types#
	SPLITDISC=off
	INDCONT=off
	QUALREPORT=on

#Optional Parameters#
	#quit after alignments: on/off
	ALIGNONLY=off
	#quit after stats.mpileup (used in PPstats): on/off
	STATSONLY=off
	#confirm read pairing and population counts (interactively)
	CONFIRM=on
	#use vcf file instead of calling SNPs (scoring still occurs)
	#VCF file name or empty (any non-empty value here trips this switch)
	USEVCF=example2_filtered_copy.VCF
	#divide SNP calling into chunks for GNU parallel
	PARALLEL=on
	#normalize loci in groups of DIVIDE individuals (when memory is limited and/or variants are many); default=100
	DIVIDE=

#Dependency Locations#
	BCFTOOLS=bcftools
	FASTQC=fastqc
	BWA=bwa
	SAMBLASTER=samblaster
	SAMTOOLS=samtools
	PICARDTOOLS=~/miniconda3/envs/poolparty_env/share/picard-2.20.2-0/picard.jar
	BBMAPDIR=~/miniconda3/envs/poolparty_env/bin
	POOL2=~/bin/popoolation2_1201

#Languages needed on system#
	#bash/shell
	#perl
	#java
	#R


