#!/bin/bash
#PPstats configuration file

#Specify Files#
FAI=Omy_USDA1.1_Omy05.25.28.fasta.fai
MPILEUP=poolparty_example2/example2_stats.mpileup
OUTDIR=poolparty_example2/stats
OUTFILE=example2_stats.txt
POPFILE=poolparty_example2/pops/example2_files_for_pops.txt

#Parameters#
SCAFP= #leave blank if no scaffolds; otherwise PPstats will throw an error
THREADZ=4
#min/max coverage PER CLASS (e.g. pheno X population)
MINCOV=10
MAXCOV=1000

#Languages needed on system#
	#bash/shell
	#R
